@model NGO_donation.Models.tbl_registeruserdetail

@{
    ViewBag.Title = "Create";
}

<h4 style="color:blueviolet;margin-left:439px;">USER PERSONAL INFORMATION</h4>
<style type="text/css">
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" style="color: black; background-color: lightgray;align-content:center;padding-left:100px;">
        <hr />
        @Html.ValidationSummary(true)
        <img src="~/content/registration-img.jpg" style="width:221px;height:84px;" />
        <div class="form-group" style="margin-left: 300px;text-align:left;">
            @Html.HiddenFor(model => model.regid)
            @Html.Label("firstname", "FIRST NAME", new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.firstname, new { @class = "control-label col-md-2" })*@

            <div class="col-md-10">
                @Html.EditorFor(model => model.firstname)
                @Html.ValidationMessageFor(model => model.firstname)
            </div>
        </div>

        <div class="form-group" style="margin-left: 300px; text-align: left;">
            @Html.Label("lastname", "LAST NAME", new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.lastname)
                @Html.ValidationMessageFor(model => model.lastname)
            </div>
        </div>

        <div class="form-group" style="margin-left: 300px; text-align: left;">
            @Html.Label("cma_", "CMA #", new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.cma_)
                @Html.ValidationMessageFor(model => model.cma_)
            </div>
        </div>

        <div class="form-group" style="margin-left: 300px; text-align: left; ">
            @Html.Label("phone", "PHONE", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.phone)
                @Html.ValidationMessageFor(model => model.phone)
            </div>
        </div>

        <div class="form-group" style="margin-left: 300px; text-align: left;">
            @Html.Label("emailid", "EMAIL ADDRESS", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.emailid)
                @Html.ValidationMessageFor(model => model.emailid)
            </div>
        </div>

        <div class="form-group" style="margin-left: 300px; text-align: left;">
            @Html.Label("address1", "ADDRESS 1", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.address1)
                @Html.ValidationMessageFor(model => model.address1)
            </div>
        </div>

        <div class="form-group" style="margin-left: 300px; text-align: left;">
            @Html.Label("address2", "ADDRESS 2", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.address2)
                @Html.ValidationMessageFor(model => model.address2)
            </div>
        </div>

        <div class="form-group" style="margin-left: 300px; text-align: left;">
            @Html.Label("city", "CITY", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.city)
                @Html.ValidationMessageFor(model => model.city)
            </div>
        </div>

        <div class="form-group" style="margin-left: 300px; text-align: left;">
            @Html.Label("state", "STATE", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.state)
                @Html.ValidationMessageFor(model => model.state)
            </div>
        </div>

        <div class="form-group" style="margin-left: 300px; text-align: r;">
            @Html.Label("zipcode", "ZIP/POSTAL CODE", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.zipcode)
                @Html.ValidationMessageFor(model => model.zipcode)
            </div>
        </div>

        <div class="form-group" style="margin-left: 300px; text-align: left;">
            @Html.Label("country", "COUNTRY", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.country)
                @Html.ValidationMessageFor(model => model.country)
            </div>
        </div>

        <div class="form-group " style="margin-left: 300px; text-align: left;">
            @Html.Label("urbanization", "URBANIZATION", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.urbanization)
                @Html.ValidationMessageFor(model => model.urbanization)
            </div>
        </div>
        <br />
        <br />
        <div class="form-group" style="margin-left: 300px;">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="CANCEL" class="btn btn-default" style="color: white; background-color: blueviolet;" onclick="location.href='@Url.Action("Index","User")';" />

                @*<div class="col-md-offset-2 col-md-10">*@
                    <input type="submit" value="CONTINUE" class="btn btn-default" style="color: white; background-color: blueviolet;" />
                @*</div>*@
            </div>
        </div>
    </div>
}




