<!DOCTYPE html>
<html>
<head>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Html.Partial("_header")

    
</head>
<body>
    <div class="col-md-3" style="">
        <div class="list-group">
            <a href="~/UserManage/Index" class="list-group-item list-group-item-actions" style="background-color:#dff0d8;"> User Management </a>
            <a href="~/Donationdetails/Index" class="list-group-item list-group-item-action" style="background-color:#dff0d8"> Donation Management </a>
            @*<a href="~/UserManage/Index" class="list-group-item list-group-item-action" style="background-color:#dff0d8"> User View </a>*@
        </div>
    </div>




    <div class="col-lg-offset-3">@RenderBody()</div>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" style=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" style=""></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous" style=""></script>


    <div class="container body-content">

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NGO Donation Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>

