@model IList<NGO_donation.Models.tbl_donationtype>

<h2 style="color:blueviolet;">GIFTS</h2>

<style type="text/css">
    .btn-black {
        background-color: #000;
        color: #FFF;
    }

        .btn-black:hover {
            color: #FFF;
        }

    .hrtt {
        style ="margin-left: 300px;";
    }

    .hover {
        color: red;
    }

    .barcode {
        white-space: pre;
    }
</style>

<span class="barcode"><font size="2">                               @Html.DisplayName("Check for Monthly") @Html.DisplayName("Recurring Gift")</font></span>

@using (Html.BeginForm("DonationAmount", "Donationtype", FormMethod.Post))
{
    <table>
        @*<tr>
                <th>
                    @Html.DisplayName("Check for Monthly")
                    @Html.DisplayName("Recurring Gift")
                </th>
            </tr>*@

        <tr>
            @foreach (var item in Model)
            {
                for (int i = 0; i < Model.Count; i++)
                {
                    @Html.HiddenFor(model => Model[i].donationtypeid, new { item.donationtypeid })
                }
                for (int i = 0; i < Model.Count; i++)
                {
                    @Html.HiddenFor(model => Model[i].donationdetailid, new { item.donationdetailid })
                }
            }

            @for (int i = 0; i < Model.Count; i++)
            {
                <td style="display: block;width:300px;">
                    @Html.DisplayFor(modelItem => Model[i].donationname) $
                </td>
                <td style="vertical-align: top; display: inline-block; text-align: left; width: 200px;">@Html.TextBoxFor(model => Model[i].donationamount)</td>

                <td style="vertical-align: top; display: inline-block; ">
                    @Html.CheckBoxFor(model => Model[i].recurringgift)
                </td>

            }

</table>

    <div class="form-group">
        <div class="col-md-offset-2" style="margin-left:70px;">
            <input type="button" value="CANCEL" class="btn btn-default" style="color: white; background-color: blueviolet;" onclick="location.href='@Url.Action("Create", "Reguser")';" />

            @*<div class="col-md-offset-2 col-md-10">*@
            <input type="submit" value="CONTINUE" class="btn btn-default" style="color: white; background-color: blueviolet;" />
            @*</div>*@
        </div>
    </div>
}

