@model IEnumerable<NGO_donation.Models.tbl_donationdetails>

@{
    ViewBag.Title = "GetOrderSummary";
}

<h3 style="padding-top: 6px; height: 40px; color: white; background-color: coral; text-align: center;">OrderSummary</h3>

@using (Html.BeginForm("EmptyCart", "User", FormMethod.Post))
{
    <table class="table" style="border:1px solid black;">

        <tr>
            <th style="padding-left: 40px;"></th>
            <th style="font-family: sans-serif; font-size: initial; font-weight: underline; font-style: italic;">

                @Html.DisplayName("ITEM DESCRIPTION")

            </th>
            <th style="font-family: sans-serif; font-size: initial; font-weight: underline; font-style: italic; margin-left: 166px; width: 116px;">

                @Html.DisplayName("QUANTITY")

            </th>
            <th style="font-family: sans-serif; font-size: initial; font-weight: underline; font-style: italic;padding-left:90px;">

                @Html.DisplayName("PRICE")

            </th>
            <th style="font-family: sans-serif; font-size: initial; font-weight: underline; font-style: italic; padding-left: 75px;">

                @Html.DisplayName("TOTAL")

            </th>

        </tr>
        @if (Model == null)
        {
            <tr>
                <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @ViewData["Empty"]
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        }
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td><img src="~/content/1.jpg" style="width: 122px; height: 92px; padding-left: 40px;" /></td>
                    <td style="font-family: verdana sans-serif; font-weight: bolder; font-size: 14px; color:  green; ">
                        @Html.DisplayFor(modelItem => item.tbl_donationtype.donationname)
                    </td>
                    <td class="colorquantity">
                        @Html.DisplayFor(modelItem => item.quantity)
                        <div style="display: block; color: black; font-weight: bolder;">
                            @Html.ActionLink("Remove", "Removequantity", new { id = item.donationdetailid, htmlAttributes = new { style = "color:red" } })
                        </div>


                    </td>
                    <td style="padding-left: 90px;">
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td style="padding-left: 90px;">

                        @Html.DisplayFor(modelItem => item.totalamount)
                    </td>
                </tr>

            }

        }

        <tr>
            <td></td>
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @if (Model != null && Model.Any())
                {
                    @Html.ActionLink("Empty Cart", "EmptyCart", new { id = Model.First().regid }, new { @style = "color: orangered;font-weight: 600;text-decoration: underline;" })

                } &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @if (Model == null)
                {
                    @Html.ActionLink("Back to Donation Amount", "DonationAmount", "User", new { @style = "MARGIN-LEFT: -60PX;TEXT-DECORATION: UNDERLINE;COLOR: CORAL;" })
                }
                @if (Model != null && Model.Any())
                {
                    @Html.ActionLink("Update Cart", "DonationAmount", new { id = Model.First().regid }, new { @style = "color: orangered;font-weight: 600;text-decoration: underline;" })
                }


            </td>
            <td></td>
            <td>
                @if (Model != null)
                {
                    @Html.ActionLink("Proceed to Checkout", "SendMail", new { id = Model.First().regid }, new { @style = "color: orangered;font-weight: 600;text-decoration: underline;" })
                }
            </td>
            <td>
                @if (ViewData["Totalamount"] != null)
                {
                    <label style="color:purple;">Total Donation Amount:</label><span style="font-weight: 700;color:green;">@ViewData["Totalamount"]</span>
                }
        </td>

    </tr>

</table>
}

