@model IEnumerable<NGO_donation.Models.tbl_user>

@{
    ViewBag.Title = "Index";
}

@*<!doctype html>
    <html>

    <head>

        <meta name="viewport" content="width-device-width" />
        <title>User Management</title>
    </head></html>*@
<body>
    <h2 style="background-color:gainsboro">User Management</h2>
    <h4 style="float:right;margin-right:10px">
        <b>
            @Html.ActionLink("Add User", "Create")
            <img src="~/Content/ImgAddUser.jpg" style="width:30px" />
        </b>
    </h4>
    <table class="table" border="1">
        <tr bgcolor="black">
            <th style="color:white">
                FirstName
            </th>
            <th style="color:white">
                LastName
            </th>
            <th style="color:white">
                Email
            </th>
            <th style="color:white">
                Role
            </th>
            <th style="color:white">

            </th>
            <th style="color:white">

            </th>
        </tr>
        @*        @{var rowColor = "#D9E6C4"; }
            @foreach (var item in Model)
            {
                <tr style="background-color:@rowColor;">
                    <td>
                        @Html.DisplayFor(modelItem => item.firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.tbl_role.rolename)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.userid })

                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.userid })

                    </td>

                </tr>
                if (@rowColor.Equals("#D9E6C4"))
                {
                    @rowColor= "#ffffff";
                }
                else
                {
                    @rowColor= "#D9E6C4";
                }
             }*@

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.tbl_role.rolename)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.userid })

                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.userid })

                </td>

            </tr>

        }


    </table>
</body>

